include demo.py index.cgi mod_python.py CHANGES COPYING Makefile
include tiddlyweb/empty.html
include tiddlyweb/urls.map
recursive-include docstore *
recursive-include test *
recursive-include docs *
